@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.top-menu {
   margin-bottom: .5rem;
   position: relative;
}



.game-over-window {
   padding: 1rem;
   background-color: rgba(68, 68, 68, 0.85);
   position: absolute;
   color: white;
   text-align: center;
}
.game-over-options {
   margin-top: 1rem;
}



.top-menu .clock {
   font-family: 'Press Start 2P', cursive;
   padding: .3rem;
   border-radius: .4rem;
   background-color: black;
   color: white;
}

.top-menu .remaining-bombs {
   background-color: white;
   border-radius: .4rem;
   padding: .3rem;
}

.help-window {
   padding: 2rem 1rem 1rem;
   background-color: white;
   z-index: 2;
   position: absolute;
   max-width: 20rem;
   font-size: .9rem;
   height: 555px;
}
.hw-mobile, .hw-desktop {
   margin-bottom: 1rem;
   padding: .5rem;
   border-radius: .25rem;
}
.hw-mobile {
   border: 1px solid #0075A2;
}
.hw-desktop {
   border: 1px solid #30B33F;
}
.close-window {
   position: absolute;
   top: -.2rem;
   right: .5rem;
   cursor: pointer;
   font-size: 1.7rem;
}

.top-menu .help {
   background-color: white;
   padding: .3rem;
   border-radius: .4rem;
   cursor: pointer;
}


.end-game-confirmation {
   padding: 1rem;
   background-color: rgba(68, 68, 68, 0.85);
   position: absolute;
   color: white;
   text-align: center;
}
.egc-buttons {
   margin-top: 1rem;
}
.egc-buttons button {
   width: 75px;
}

.bottom-menu {
   margin-top: .5rem;
}