.level-container {
   background-color: #666;
   border-radius: .25rem;
   margin-bottom: 2rem;
   cursor: pointer;
   transition: .4s;
}

.level-img {
   height: 3rem;
}

.level-description {
   padding: .3rem 1rem;
   border-radius: .25rem;
}
.level-description div {
   font-size: 10pt;
}


@media only screen and (min-width: 768px) {
   .level-container:hover {
      transform: translateX(10px);
   }
}