.square-container {
   width: 30px;
   height: 30px;
   border-radius: .15rem;
   border: 1px solid #555;
   margin: .5px;
   font-size: 18pt;
   user-select: none;
}

.square-container:hover {
   background-color: #aaa;
}